[submodule "dataset/raw-data/ARC-AGI-2"]
    path = dataset/raw-data/ARC-AGI-2
    url = https://github.com/sapientinc/ARC-AGI-2.git

[submodule "dataset/raw-data/ConceptARC"]
    path = dataset/raw-data/ConceptARC
    url = https://github.com/sapientinc/ConceptARC.git

[submodule "dataset/raw-data/ARC-AGI"]
    path = dataset/raw-data/ARC-AGI
    url = https://github.com/sapientinc/ARC-AGI.git
